{% extends 'layout.html' %}
{% block content %}
<div class="container py-5">
    <div  class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="/k1" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 1</a>
                <a href="/k2" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 2</a>
                <a href="/k3" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 3</a>
                <a href="/k4" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 4</a>  
                <a href="/k5" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 5</a>
                <a href="/k6" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 6</a>
                <a href="/k7" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 7</a>
                <a href="/k8" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 8</a>
                <a href="/k9" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 9</a>
                <a href="/k10" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 10</a>
                <a href="/k11" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 11</a>
                <a href="/k12" class="list-group-item list-group-item-action"><i class="bi bi-bookshelf"></i> Księga 12</a>
              </div>
              
        </div>
    </div>
</div>
{% endblock %}